body {text-align: center; font-family: helvetica; background-repeat: no-repeat; background-position: top center;background-size: auto;}



h1 {font-size:70px; font-weight: bold;
background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png"); }
a, a:active, a:visited, a:hover{font-size: 18px;
color:white;}


h2,h3,h4{ font-weight: bold;}

h2{font-size: 32px; }

h3,h4{font-size: 23px;}

p{font-size: 14px;}

h1,p.nav,h4,p.legal{color: white;}


h4 {background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
background-size: cover;}

p.legal {text-align: left; background-color: dimgray;}

p.legal{font-size: 11px;
 }
